.card
  position: relative
  border: $ui-border
  border-radius: 3px
  padding: $ui-padding-extra-spaced
  margin: 0 0 $space 0
  .tool
    display: block
    position: absolute
    top: 15px
    right: 15px
